# This is a comment (empty lines are also ignored)

# This line will add "Blob" to the "New" submenu of the "File" menu.
# Clicking on "Blob" will call the plugin class "my.test.Test"
Plugins>00 ShoeComp, "Load Image + Markup", Image_Loader
Plugins>00 ShoeComp, "Save Image + Markup", Image_Saver
Plugins>00 ShoeComp, "Align Images", Align_Runner
Plugins>00 ShoeComp, "-", "-"
Plugins>00 ShoeComp, "About ShoeComp", About_Page